<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>{% block title %} {% endblock %}</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png" />
        <link rel="manifest" href="/static/favicon/site.webmanifest" />

        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
            crossorigin="anonymous"
        />
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
        <link href="http://fonts.cdnfonts.com/css/product-sans" rel="stylesheet" />
        <style>
            html,
            body {
                font-family: "Product Sans", sans-serif;
            }
            .bg-wht {
                background-color: #05595b;
                color: #062c30;
            }
            .bg-drk {
                background-color: #062c30;
                color: #f2f2f2;
            }
        </style>
    </head>

    <body class="bg-drk">
        <!-- Navbar here -->
        <nav class="navbar navbar-expand-lg bg-wht">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('home_page') }}"><h4 class="text-white">Second Password</h4></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span
                        ><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="#062C30" class="bi bi-list" viewBox="0 0 16 16">
                            <path
                                fill-rule="evenodd"
                                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
                            />
                        </svg>
                    </span>
                </button>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body bg-wht">
                        {% if current_user.is_authenticated %}
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link text-white" href="{{ url_for('dashboard_page') }}"
                                    ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                    </svg>
                                    {{ current_user.name }}</a
                                >
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="{{ url_for('logout_page') }}">Logout</a>
                            </li>
                        </ul>
                        {% else %}
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-white" href="{{ url_for('dashboard_page') }}">Dashboard</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link text-white" href="{{ url_for('login_page') }}">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="{{ url_for('register_page') }}">Register</a>
                            </li>
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
        {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}

        <div class="alert alert-{{ category }} alert-dismissible rounded-0" role="alert">
            <div>{{ message|safe }}</div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        {% endfor %} {% endif %} {% endwith %} {% block content %} {% endblock %}

        <footer class="text-center mt-5">
            <p class="small">Copyright &copy; 2022 &mdash; <a class="text-white text-decoration-none" href="https://viperadnan-git.github.io">Adnan Ahmad</a></p>
        </footer>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
            integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
            crossorigin="anonymous"
        ></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
    </body>
</html>
